In [3]:
import pandas as pd

In [4]:
df8 = pd.read_pickle('../data/df8.pkl')
df8.head()

,ID,DELTA,YEAR_DAY,DATE,MEAN_CONSUMPTION,VARIANCE_CONSUMPTION,WEEKDAY,IS_WEEKEND,sin_WEEKDAY,cos_WEEKDAY,sin_year_day,cos_year_day,PRECIPITATIONS,MIN_TEMP,MEAN_TEMP,MAX_TEMP,SUN,IS_GOOD,TSPREDICTION,Last30days
364635,999,7.00,0,2019-02-01,229.471233,85169.268953,4,0,-0.433884,-0.900969,0.000000,1.000000,0.0,16.5,17.6,18.7,7.1,1,NaN,0.00
364636,999,9.00,1,2019-02-02,229.471233,85169.268953,5,1,-0.974928,-0.222521,0.017213,0.999852,0.0,9.8,13.4,17.1,6.1,1,NaN,7.00
364637,999,42.04,2,2019-02-03,229.471233,85169.268953,6,1,-0.781831,0.623490,0.034422,0.999407,0.0,7.7,10.6,13.6,9.3,1,NaN,16.00
364638,999,71.96,3,2019-02-04,229.471233,85169.268953,0,0,0.000000,1.000000,0.051620,0.998667,0.0,4.1,10.6,17.2,9.3,1,NaN,58.04
364639,999,25.00,4,2019-02-05,229.471233,85169.268953,1,0,0.781831,0.623490,0.068802,0.997630,0.0,7.5,14.6,21.6,9.2,1,NaN,130.00

In [13]:
df8['TSPREDICTION'].iloc[364630].index[0]

360