In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
df = pd.read_csv('../data/Modelar_UH2022.txt', sep = '|')

In [5]:
df.shape

(21404828, 6)

In [6]:
df.head()

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH
0,0,2019-06-13 08:34:09,369320,0.0,17,0.0
1,0,2019-06-13 17:34:10,369403,0.0,2,0.0
2,0,2019-06-13 18:34:10,369403,0.0,0,0.0
3,0,2019-06-13 04:34:10,369284,0.0,1,0.0
4,0,2019-06-13 14:34:10,369356,0.0,28,0.0

In [7]:
df.describe()

,ID,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH
count,2.140483e+07,2.140483e+07,2.126477e+07,2.140483e+07,2.126477e+07
mean,1.259029e+03,6.052178e+05,3.930737e+00,2.277017e+01,4.228367e+00
std,7.334956e+02,2.857464e+06,1.496893e+01,1.516794e+03,1.541059e+01
min,0.000000e+00,-6.407800e+04,0.000000e+00,-5.307340e+05,0.000000e+00
25%,6.230000e+02,6.368800e+04,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.255000e+03,1.831570e+05,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.887000e+03,3.520500e+05,0.000000e+00,9.000000e+00,0.000000e+00
max,2.756000e+03,5.108976e+07,9.900000e+01,9.499810e+05,9.900000e+01

In [8]:
date_time_str = '2019-06-13 08:34:09'
date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
date_time_obj.year

2019

In [9]:
date_time_str = '18/09/19 01:55:19'

date_time_obj = datetime.strptime(date_time_str, '%d/%m/%y %H:%M:%S')

In [10]:
def str2date(string):
    return datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

def get_year(string):
    return str2date(string).year

def get_month(string):
    return str2date(string).month

def get_day(string):
    return str2date(string).day

def get_fecha(string):
    return str2date(string).strftime("%Y-%m-%d")

In [11]:
df['YEAR'] = df['SAMPLETIME'].map(get_year)
df['MONTH'] = df['SAMPLETIME'].map(get_month)
df['DAY'] = df['SAMPLETIME'].map(get_day)

KeyboardInterrupt:

In [ ]:
df['DATE'] = df['SAMPLETIME'].map(get_fecha)

In [43]:
df[(df['YEAR'] == 2020) & (df['MONTH'] == 1)]

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,YEAR,MONTH,DAY
555,0,2020-01-17 02:25:21,430015,0.0,0,0.0,2020,1,17
556,0,2020-01-17 11:25:20,430073,0.0,16,0.0,2020,1,17
557,0,2020-01-17 17:25:18,430168,0.0,28,0.0,2020,1,17
558,0,2020-01-17 10:25:20,430057,0.0,0,0.0,2020,1,17
559,0,2020-01-17 22:25:17,430293,0.0,41,0.0,2020,1,17
...,...,...,...,...,...,...,...,...,...
21404587,2742,2020-01-14 01:00:03,28446,0.0,0,0.0,2020,1,14
21404588,2743,2020-01-08 13:35:07,6230,0.0,0,0.0,2020,1,8
21404589,2743,2020-01-08 12:35:07,6230,0.0,0,0.0,2020,1,8
21404590,2743,2020-01-08 11:35:07,6230,0.0,0,0.0,2020,1,8
21404591,2743,2020-01-08 10:35:07,6230,0.0,0,0.0,2020,1,8

In [69]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"
url2 ='https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-01-01/fechafin/2020-02-29/todasestaciones/'

In [78]:
import requests

url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZWRyb3F1aWxsZXNjYW1wb0Bob3RtYWlsLmNvbSIsImp0aSI6ImVkNjRhNDdkLTBjYzQtNDFiNC05NWQwLTAxMDZmNmUzMzk5ZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjQ2MDY5NDg2LCJ1c2VySWQiOiJlZDY0YTQ3ZC0wY2M0LTQxYjQtOTVkMC0wMTA2ZjZlMzM5OWQiLCJyb2xlIjoiIn0.VjziPVZ_3bI4sk_NW1ACCv4FRDr3yB5VZ5-62wib5RU"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6c4ae804",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [79]:
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/6c4ae804',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [81]:
import json
temperatura_valencia  = []
with open('Temperatura_Valencia.txt') as json_file:
    temperatura_valencia = json.load(json_file)

In [162]:
fechas = []
precipitaciones = []
Min_Temp = []
Max_Temp = []
Sol = []
Mean_Temp = []
for dato in temperatura_valencia:
    fechas.append(dato['fecha'])
    if dato['prec'] == 'Ip':
        precipitaciones.append(None)
    else:
        precipitaciones.append(dato['prec'])
    Min_Temp.append(dato['tmin'])
    Mean_Temp.append(dato['tmed'])
    Max_Temp.append(dato['tmax'])
    try:
        Sol.append(dato['sol'])
    except:
        Sol.append(None)

In [163]:
temperaturas = pd.DataFrame()
temperaturas['Fechas'] = fechas
temperaturas['Precipitaciones'] = precipitaciones
temperaturas['Min_Temp'] = Min_Temp
temperaturas['Mean_Temp'] = Mean_Temp
temperaturas['Max_Temp'] = Max_Temp
temperaturas['Sol'] = Sol
print(temperaturas.shape)
temperaturas.head()

(425, 6)

       Fechas Precipitaciones Min_Temp Mean_Temp Max_Temp  Sol
0  2019-01-01             0,0      5,8      11,9     18,0  6,0
1  2019-01-02             0,0      5,2      12,0     18,8  8,7
2  2019-01-03             0,0      4,4      10,5     16,6  7,7
3  2019-01-04             0,0      4,4      10,2     16,1  8,4
4  2019-01-05             0,0      6,1      12,4     18,7  8,7

In [170]:
def coma2float(string):
    return float(string.replace(',','.')) if type(string) == str else string

In [173]:
sols = temperaturas['Sol'].tolist()
for idx, value in enumerate(sols):
    if value == None:
        sols[idx] = (coma2float(sols[idx-1]) + coma2float(sols[idx-1]))/2
temperaturas['Sol'] = sols

In [172]:
precs = temperaturas['Precipitaciones'].tolist()
for idx, value in enumerate(precs):
    if value == None:
        precs[idx] = (coma2float(precs[idx-1]) + coma2float(precs[idx-1]))/2
temperaturas['Precipitaciones'] = precs

In [175]:
temperaturas['Precipitaciones'] = temperaturas['Precipitaciones'].map(coma2float)
temperaturas['Min_Temp'] = temperaturas['Min_Temp'].map(coma2float)
temperaturas['Mean_Temp'] = temperaturas['Mean_Temp'].map(coma2float)
temperaturas['Max_Temp'] = temperaturas['Max_Temp'].map(coma2float)
temperaturas['Sol'] = temperaturas['Sol'].map(coma2float)

In [178]:
temperaturas.head()

       Fechas  Precipitaciones  Min_Temp  Mean_Temp  Max_Temp  Sol
0  2019-01-01              0.0       5.8       11.9      18.0  6.0
1  2019-01-02              0.0       5.2       12.0      18.8  8.7
2  2019-01-03              0.0       4.4       10.5      16.6  7.7
3  2019-01-04              0.0       4.4       10.2      16.1  8.4
4  2019-01-05              0.0       6.1       12.4      18.7  8.7

In [177]:
temperaturas.describe()

       Precipitaciones    Min_Temp   Mean_Temp    Max_Temp         Sol
count       425.000000  425.000000  425.000000  425.000000  425.000000
mean          1.203765   13.713647   18.289647   22.865176    7.577647
std           5.285624    6.033019    5.584301    5.563994    3.335974
min           0.000000    1.700000    7.100000    9.200000    0.000000
25%           0.000000    8.900000   13.600000   18.300000    5.600000
50%           0.000000   12.800000   17.300000   22.300000    8.500000
75%           0.000000   19.200000   23.300000   27.400000   10.100000
max          53.500000   26.900000   32.200000   41.400000   11.700000

In [185]:
datos = pd.merge(df, temperaturas, left_on='DATE', right_on = 'Fechas')

In [189]:
datos

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,YEAR,MONTH,DAY,DATE,Fechas,Precipitaciones,Min_Temp,Mean_Temp,Max_Temp,Sol
0,0,2019-06-13 08:34:09,369320,0.0,17,0.0,2019,6,13,2019-06-13,2019-06-13,0.0,18.1,20.6,23.2,7.1
1,0,2019-06-13 17:34:10,369403,0.0,2,0.0,2019,6,13,2019-06-13,2019-06-13,0.0,18.1,20.6,23.2,7.1
2,0,2019-06-13 18:34:10,369403,0.0,0,0.0,2019,6,13,2019-06-13,2019-06-13,0.0,18.1,20.6,23.2,7.1
3,0,2019-06-13 04:34:10,369284,0.0,1,0.0,2019,6,13,2019-06-13,2019-06-13,0.0,18.1,20.6,23.2,7.1
4,0,2019-06-13 14:34:10,369356,0.0,28,0.0,2019,6,13,2019-06-13,2019-06-13,0.0,18.1,20.6,23.2,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21404823,2632,2019-04-21 05:37:53,996438,0.0,0,0.0,2019,4,21,2019-04-21,2019-04-21,2.5,14.4,15.4,16.3,0.0
21404824,2719,2019-04-21 14:31:03,38710,0.0,0,0.0,2019,4,21,2019-04-21,2019-04-21,2.5,14.4,15.4,16.3,0.0
21404825,2719,2019-04-21 12:31:03,38710,0.0,0,0.0,2019,4,21,2019-04-21,2019-04-21,2.5,14.4,15.4,16.3,0.0
21404826,2719,2019-04-21 13:31:03,38710,0.0,0,0.0,2019,4,21,2019-04-21,2019-04-21,2.5,14.4,15.4,16.3,0.0
21404827,2719,2019-04-21 15:31:03,38710,0.0,0,0.0,2019,4,21,2019-04-21,2019-04-21,2.5,14.4,15.4,16.3,0.0

In [190]:
datos.to_csv('../data/enriquecidos.csv')