In [49]:
import pandas as pd
import numpy as np
from datetime import datetime

In [50]:
df = pd.read_csv('../data/Modelar_UH2022.txt', sep = '|')

In [51]:
df.shape

(21404828, 6)

In [52]:
df[df['DELTATHOUSANDTH']>0].head()

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH
589,0,2020-01-19 07:00:00,430762,8.0,17,4.0
592,0,2020-01-19 08:00:00,430780,2.0,17,4.0
604,0,2020-01-19 09:00:00,430797,6.0,17,4.0
606,0,2020-01-19 10:25:17,430815,0.0,17,4.0
608,0,2020-01-19 06:00:00,430745,4.0,17,4.0

### Imputar a 0 los NAs (que básicamente son las partes decimales de READING y DELTA)

In [53]:
df = df.fillna(0)

In [54]:
df['DELTA'] = [j+(i/100) for (j,i) in zip(df['DELTAINTEGER'].values, df['DELTATHOUSANDTH'].values)]
df['READING'] = [j+(i/100) for (j,i) in zip(df['READINGINTEGER'].values, df['READINGTHOUSANDTH'].values)]

### Pasar sampletime a tipo datetime

In [55]:
from datetime import datetime, timedelta

def str2date(string):
    return datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

In [56]:
from tqdm import tqdm

tqdm.pandas()
df['SAMPLETIME'] = df['SAMPLETIME'].progress_apply(str2date)

100%|███████████████████████████████████████████████████████████████████| 21404828/21404828 [05:27<00:00, 65364.37it/s]

In [10]:
def str2date(string):
    return datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

def get_year(string):
    return str2date(string).year

def get_month(string):
    return str2date(string).month

def get_day(string):
    return str2date(string).day

def get_fecha(string):
    return str2date(string).strftime("%Y-%m-%d")

### Ordenar por ID y SAMPLETIME

In [57]:
df = df.sort_values(['ID','SAMPLETIME']).reset_index(drop=True)

In [58]:
df.head()

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,DELTA,READING
0,0,2019-02-01 00:39:36,331710,0.0,0,0.0,0.0,331710.0
1,0,2019-02-01 01:39:36,331710,0.0,0,0.0,0.0,331710.0
2,0,2019-02-01 02:39:35,331710,0.0,0,0.0,0.0,331710.0
3,0,2019-02-01 03:39:35,331710,0.0,0,0.0,0.0,331710.0
4,0,2019-02-01 04:39:35,331710,0.0,0,0.0,0.0,331710.0

In [59]:
df.drop(['READINGINTEGER','READINGTHOUSANDTH','DELTAINTEGER','DELTATHOUSANDTH'], axis=1, inplace=True)

In [60]:
def get_fecha(date):
    return date.strftime("%Y-%m-%d")

In [61]:
df['DATE'] = df['SAMPLETIME'].progress_apply(get_fecha)

100%|██████████████████████████████████████████████████████████████████| 21404828/21404828 [03:09<00:00, 113223.06it/s]

In [62]:
df.drop('SAMPLETIME', axis=1, inplace=True)

In [63]:
df2 = df.groupby(['ID','DATE']).agg({'DELTA':sum,'READING':max}).reset_index()
df2.head()

   ID        DATE  DELTA   READING
0   0  2019-02-01  243.0  331953.0
1   0  2019-02-02  236.0  332189.0
2   0  2019-02-03  335.0  332524.0
3   0  2019-02-04  252.0  332776.0
4   0  2019-02-05  220.0  332996.0

In [64]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"
url2 ='https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-01-01/fechafin/2020-02-29/todasestaciones/'

In [65]:
import requests

url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZWRyb3F1aWxsZXNjYW1wb0Bob3RtYWlsLmNvbSIsImp0aSI6ImVkNjRhNDdkLTBjYzQtNDFiNC05NWQwLTAxMDZmNmUzMzk5ZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjQ2MDY5NDg2LCJ1c2VySWQiOiJlZDY0YTQ3ZC0wY2M0LTQxYjQtOTVkMC0wMTA2ZjZlMzM5OWQiLCJyb2xlIjoiIn0.VjziPVZ_3bI4sk_NW1ACCv4FRDr3yB5VZ5-62wib5RU"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6c4ae804",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [66]:
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/6c4ae804',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [67]:
import json
temperatura_valencia  = []
with open('../data/Temperatura_Valencia.txt') as json_file:
    temperatura_valencia = json.load(json_file)

In [68]:
fechas = []
precipitaciones = []
Min_Temp = []
Max_Temp = []
Sol = []
Mean_Temp = []
for dato in temperatura_valencia:
    fechas.append(dato['fecha'])
    if dato['prec'] == 'Ip':
        precipitaciones.append(None)
    else:
        precipitaciones.append(dato['prec'])
    Min_Temp.append(dato['tmin'])
    Mean_Temp.append(dato['tmed'])
    Max_Temp.append(dato['tmax'])
    try:
        Sol.append(dato['sol'])
    except:
        Sol.append(None)

In [69]:
temperaturas = pd.DataFrame()
temperaturas['Fechas'] = fechas
temperaturas['Precipitaciones'] = precipitaciones
temperaturas['Min_Temp'] = Min_Temp
temperaturas['Mean_Temp'] = Mean_Temp
temperaturas['Max_Temp'] = Max_Temp
temperaturas['Sol'] = Sol
print(temperaturas.shape)
temperaturas.head()

(425, 6)

       Fechas Precipitaciones Min_Temp Mean_Temp Max_Temp  Sol
0  2019-01-01             0,0      5,8      11,9     18,0  6,0
1  2019-01-02             0,0      5,2      12,0     18,8  8,7
2  2019-01-03             0,0      4,4      10,5     16,6  7,7
3  2019-01-04             0,0      4,4      10,2     16,1  8,4
4  2019-01-05             0,0      6,1      12,4     18,7  8,7

In [70]:
def coma2float(string):
    return float(string.replace(',','.')) if type(string) == str else string

In [71]:
sols = temperaturas['Sol'].tolist()
for idx, value in enumerate(sols):
    if value == None:
        sols[idx] = (coma2float(sols[idx-1]) + coma2float(sols[idx-1]))/2
temperaturas['Sol'] = sols

In [72]:
precs = temperaturas['Precipitaciones'].tolist()
for idx, value in enumerate(precs):
    if value == None:
        precs[idx] = (coma2float(precs[idx-1]) + coma2float(precs[idx-1]))/2
temperaturas['Precipitaciones'] = precs

In [73]:
temperaturas['Precipitaciones'] = temperaturas['Precipitaciones'].map(coma2float)
temperaturas['Min_Temp'] = temperaturas['Min_Temp'].map(coma2float)
temperaturas['Mean_Temp'] = temperaturas['Mean_Temp'].map(coma2float)
temperaturas['Max_Temp'] = temperaturas['Max_Temp'].map(coma2float)
temperaturas['Sol'] = temperaturas['Sol'].map(coma2float)

In [74]:
temperaturas.head()

       Fechas  Precipitaciones  Min_Temp  Mean_Temp  Max_Temp  Sol
0  2019-01-01              0.0       5.8       11.9      18.0  6.0
1  2019-01-02              0.0       5.2       12.0      18.8  8.7
2  2019-01-03              0.0       4.4       10.5      16.6  7.7
3  2019-01-04              0.0       4.4       10.2      16.1  8.4
4  2019-01-05              0.0       6.1       12.4      18.7  8.7

In [76]:
datos = pd.merge(df2, temperaturas, left_on='DATE', right_on = 'Fechas')

In [82]:
datos = datos.sort_values(['ID','DATE']).reset_index(drop=True)

In [87]:
def get_weekday(date):
    return datetime.strptime(date, '%Y-%m-%d').weekday()

In [88]:
datos['WEEKDAY'] = datos['DATE'].progress_apply(get_weekday)

100%|███████████████████████████████████████████████████████████████████████| 890837/890837 [00:11<00:00, 80598.29it/s]

In [90]:
datos.drop('Fechas', axis=1, inplace=True)

In [91]:
datos.head()

,ID,DATE,DELTA,READING,Precipitaciones,Min_Temp,Mean_Temp,Max_Temp,Sol,WEEKDAY
0,0,2019-02-01,243.0,331953.0,0.0,16.5,17.6,18.7,7.1,4
1,0,2019-02-02,236.0,332189.0,0.0,9.8,13.4,17.1,6.1,5
2,0,2019-02-03,335.0,332524.0,0.0,7.7,10.6,13.6,9.3,6
3,0,2019-02-04,252.0,332776.0,0.0,4.1,10.6,17.2,9.3,0
4,0,2019-02-05,220.0,332996.0,0.0,7.5,14.6,21.6,9.2,1

In [123]:
contadores_dict = {}
for i in datos['ID'].unique():
    df = datos[datos['ID']==i]
    contadores_dict[i] = df['READING'].max()-df['READING'].min()

In [130]:
import numpy as np

df5 = pd.DataFrame(list(contadores_dict.values()))
df5.describe()

                  0
count  2.747000e+03
mean   1.928615e+05
std    1.341475e+06
min    0.000000e+00
25%    2.993650e+04
50%    6.482200e+04
75%    1.050820e+05
max    5.049002e+07

In [104]:
datos.iloc[890726:890740]

,ID,DATE,DELTA,READING,Precipitaciones,Min_Temp,Mean_Temp,Max_Temp,Sol,WEEKDAY
890726,2720,2019-03-05,8.00,500586.00,0.0,12.7,15.4,18.0,1.9,1
890727,2720,2019-03-11,222.62,502721.57,0.0,11.5,16.0,20.5,9.0,0
890728,2720,2019-03-12,308.64,503030.14,0.0,8.9,13.9,18.9,10.4,1
890729,2720,2019-03-13,308.64,503338.71,0.0,11.3,16.6,22.0,9.2,2
890730,2720,2019-03-14,474.31,503813.00,0.0,8.3,14.6,20.8,10.7,3
890731,2720,2019-03-15,72.00,503885.00,0.0,8.5,15.8,23.2,10.6,4
890732,2720,2019-04-28,11.00,517389.00,0.0,11.6,16.0,20.5,11.4,6
890733,2720,2019-05-25,57.00,526878.00,0.1,15.3,19.4,23.5,6.7,5
890734,2720,2019-10-05,51.00,546473.00,0.0,17.4,22.4,27.5,10.2,5
890735,2720,2019-11-15,0.00,548788.00,0.0,8.2,12.8,17.5,7.2,4
890736,2720,2019-11-16,0.00,548788.00,0.0,7.3,12.5,17.7,8.5,5
890737,2720,2019-11-22,0.00,549039.00,1.4,10.5,13.7,16.9,0.1,4
890738,2720,2019-11-23,125.04,549164.00,0.1,12.4,15.7,19.0,3.4,5
890739,2720,2019-11-24,0.00,549164.00,0.0,10.0,15.2,20.4,8.2,6

In [ ]:
def is_weekend(weekday):
    if weekday==6 or weekday==7:
        return 1
    else:
        return 0
    
def get_year_day(date):
    return date.timetuple().tm_yday

In [ ]:
datos['IS_WEEKEND'] = datos['WEEKDAY'].progress_apply(is_weekend)
datos['YEAR_DAY'] = datos['DATE'].progress_apply(get_year_day)

  0%|          | 0/890837 [00:00<?, ?it/s]

  0%|          | 0/890837 [00:00<?, ?it/s]

In [ ]:
days_in_a_week = 7
datos['sin_weekday'] = np.sin(2*np.pi*datos['WEEKDAY']/days_in_a_week)
datos['cos_weekday'] = np.cos(2*np.pi*datos['WEEKDAY']/days_in_a_week)

In [ ]:
#funciones para ver si un año es bisiesto o cuantos dias tiene (no las uso luego)
def is_leap_year(year):
    if (year % 400 == 0) and (year % 100 == 0):
        return True
    elif (year % 4 ==0) and (year % 100 != 0):
        return True
    else:
        return False
    
def days_in_a_year(year):
    if is_leap_year(year):
        return 366
    else:
        return 365

In [ ]:
days_in_a_year = 365
datos['sin_year_day'] = np.sin(2*np.pi*datos['YEAR_DAY']/days_in_a_year)
datos['cos_year_day'] = np.cos(2*np.pi*datos['YEAR_DAY']/days_in_a_year)

#### Festividades Valencia 2019

Festivos Nacionales: 

- 1 Enero
- 19 Abril
- 1 Mayo
- 15 Agosto
- 12 Octubre
- 1 Noviembre
- 6 Diciembre
- 25 Diciembre

Festivos regionales:

- 19 Marzo
- 22 Abril
- 24 Junio
- 9 Octubre

Festivos locales (valencia):

- 22 Enero
- 29 Abril

#### Festividades Valencia 2020

Festivos Nacionales: 

- 1 Enero
- 6 Enero
- 10 Abril
- 1 Mayo
- 15 Agosto
- 15 Octubre
- 8 Diciembre
- 25 Diciembre

Festivos regionales:

- 19 Marzo
- 13 Abril
- 24 Junio
- 9 Octubre

Festivos locales (valencia):

- 22 Enero
- 20 Abril

In [ ]:
def es_festivo(date):
    festivos_nacionales_2019 = [str2date2(i) for i in ["2019-1-1","2019-4-19","2019-5-1","2019-8-15","2019-10-12",
                                                       "2019-11-1","2019-12-6","2019-12-25"]]
    festivos_regionales_2019 = [str2date2(i) for i in ["2019-3-19","2019-4-22","2019-6-24","2019-10-9"]]
    festivos_locales_2019 = [str2date2(i) for i in ["2019-1-22","2019-4-29"]]
    
    festivos_nacionales_2020 = [str2date2(i) for i in ["2020-1-1","2020-1-6","2020-4-10","2020-5-1","2020-8-15","2020-12-8",
                                           "2020-12-25"]]
    festivos_regionales_2020 = [str2date2(i) for i in ["2020-3-19","2020-4-13","2020-6-24","2020-10-9"]]
    festivos_locales_2020 = [str2date2(i) for i in ["2020-1-22","2020-4-20"]]
    
    if date.year == 2019:
        if date in festivos_nacionales_2019 or date in festivos_regionales_2019:
            return 1
        else:
            return 0
    elif date.year == 2020:
        if date in festivos_nacionales_2020 or date in festivos_regionales_2020:
            return 1
        else:
            return 0

In [ ]:
datos['IS_PUBLIC_HOLIDAY'] = datos['DATE'].progress_apply(es_festivo)

  0%|          | 0/890837 [00:00<?, ?it/s]

In [ ]:
datos.columns

Index(['DATE', 'ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER',
       'DELTATHOUSANDTH', 'YEAR', 'MONTH', 'DAY', 'WEEKDAY', 'Min_Temp',
       'Mean_Temp', 'Max_Temp', 'Sol', 'Precipitaciones', 'IS_WEEKEND',
       'YEAR_DAY', 'sin_weekday', 'cos_weekday', 'sin_year_day',
       'cos_year_day', 'IS_PUBLIC_HOLIDAY'],
      dtype='object')

In [ ]:
datos = datos.reindex(columns=['DATE','ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER', 'DELTATHOUSANDTH', 
                               'YEAR', 'MONTH', 'DAY', 'WEEKDAY', 'IS_WEEKEND', 'IS_PUBLIC_HOLIDAY', 'YEAR_DAY', 'sin_weekday', 
                               'cos_weekday', 'sin_year_day', 'cos_year_day',  
                               'Min_Temp', 'Mean_Temp', 'Max_Temp', 'Sol', 'Precipitaciones'])

In [ ]:
rename_dict = {
    'WEEKDAY':'WEEK_DAY',
    'sin_weekday':'sin_WEEK_DAY',
    'cos_weekday':'cos_WEEK_DAY',
    'sin_year_day':'sin_YEAR_DAY',
    'cos_year_day':'cos_YEAR_DAY',
    'Min_Temp':'MIN_TEMP',
    'Mean_Temp':'MEAN_TEMP',
    'Max_Temp':'MAX_TEMP',
    'Sol':'SUN',
    'Precipitaciones':'PRECIPITATIONS'
}
datos = datos.rename(rename_dict, axis='columns')

In [ ]:
datos.head()

,DATE,ID,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,YEAR,MONTH,DAY,WEEK_DAY,...,YEAR_DAY,sin_WEEK_DAY,cos_WEEK_DAY,sin_YEAR_DAY,cos_YEAR_DAY,MIN_TEMP,MEAN_TEMP,MAX_TEMP,SUN,PRECIPITATIONS
0,2019-02-01,0,7963359,0.0,243,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
1,2019-02-01,1,139882,0.0,8,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
2,2019-02-01,2,190824,0.0,0,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
3,2019-02-01,3,3611828,0.0,492,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
4,2019-02-01,4,2723035,0.0,247,56.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0

In [ ]:
datos.to_csv('../data/enriquecidos-003.csv')