In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
df = pd.read_csv('../data/Modelar_UH2022.txt', sep = '|')

In [5]:
df.shape

(21404828, 6)

In [6]:
df.head()

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH
0,0,2019-06-13 08:34:09,369320,0.0,17,0.0
1,0,2019-06-13 17:34:10,369403,0.0,2,0.0
2,0,2019-06-13 18:34:10,369403,0.0,0,0.0
3,0,2019-06-13 04:34:10,369284,0.0,1,0.0
4,0,2019-06-13 14:34:10,369356,0.0,28,0.0

In [7]:
df.describe()

,ID,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH
count,2.140483e+07,2.140483e+07,2.126477e+07,2.140483e+07,2.126477e+07
mean,1.259029e+03,6.052178e+05,3.930737e+00,2.277017e+01,4.228367e+00
std,7.334956e+02,2.857464e+06,1.496893e+01,1.516794e+03,1.541059e+01
min,0.000000e+00,-6.407800e+04,0.000000e+00,-5.307340e+05,0.000000e+00
25%,6.230000e+02,6.368800e+04,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.255000e+03,1.831570e+05,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.887000e+03,3.520500e+05,0.000000e+00,9.000000e+00,0.000000e+00
max,2.756000e+03,5.108976e+07,9.900000e+01,9.499810e+05,9.900000e+01

In [8]:
date_time_str = '2019-06-13 08:34:09'
date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
date_time_obj.year

2019

In [9]:
date_time_str = '18/09/19 01:55:19'

date_time_obj = datetime.strptime(date_time_str, '%d/%m/%y %H:%M:%S')

In [10]:
def str2date(string):
    return datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

def get_year(string):
    return str2date(string).year

def get_month(string):
    return str2date(string).month

def get_day(string):
    return str2date(string).day

def get_fecha(string):
    return str2date(string).strftime("%Y-%m-%d")

In [11]:
from tqdm.notebook import tqdm

tqdm.pandas()
print('Computing year...')
df['YEAR'] = df['SAMPLETIME'].progress_apply(get_year)
print('Computing month...')
df['MONTH'] = df['SAMPLETIME'].progress_apply(get_month)
print('Computing day...')
df['DAY'] = df['SAMPLETIME'].progress_apply(get_day)

Computing year...

  0%|          | 0/21404828 [00:00<?, ?it/s]

Computing month...

  0%|          | 0/21404828 [00:00<?, ?it/s]

Computing day...

  0%|          | 0/21404828 [00:00<?, ?it/s]

In [12]:
df['DATE'] = df['SAMPLETIME'].progress_apply(get_fecha)

  0%|          | 0/21404828 [00:00<?, ?it/s]

In [13]:
df.head()

,ID,SAMPLETIME,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,YEAR,MONTH,DAY,DATE
0,0,2019-06-13 08:34:09,369320,0.0,17,0.0,2019,6,13,2019-06-13
1,0,2019-06-13 17:34:10,369403,0.0,2,0.0,2019,6,13,2019-06-13
2,0,2019-06-13 18:34:10,369403,0.0,0,0.0,2019,6,13,2019-06-13
3,0,2019-06-13 04:34:10,369284,0.0,1,0.0,2019,6,13,2019-06-13
4,0,2019-06-13 14:34:10,369356,0.0,28,0.0,2019,6,13,2019-06-13

In [14]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"
url2 ='https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-01-01/fechafin/2020-02-29/todasestaciones/'

In [15]:
import requests

url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZWRyb3F1aWxsZXNjYW1wb0Bob3RtYWlsLmNvbSIsImp0aSI6ImVkNjRhNDdkLTBjYzQtNDFiNC05NWQwLTAxMDZmNmUzMzk5ZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjQ2MDY5NDg2LCJ1c2VySWQiOiJlZDY0YTQ3ZC0wY2M0LTQxYjQtOTVkMC0wMTA2ZjZlMzM5OWQiLCJyb2xlIjoiIn0.VjziPVZ_3bI4sk_NW1ACCv4FRDr3yB5VZ5-62wib5RU"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/6c4ae804",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/0556af7a"
}

In [16]:
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/6c4ae804',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [29]:
import json
temperatura_valencia  = []
with open('../data/Temperatura_Valencia.txt') as json_file:
    temperatura_valencia = json.load(json_file)

FileNotFoundError: [Errno 2] No such file or directory: '../data/Temperatura_Valencia.txt'

In [19]:
fechas = []
precipitaciones = []
Min_Temp = []
Max_Temp = []
Sol = []
Mean_Temp = []
for dato in temperatura_valencia:
    fechas.append(dato['fecha'])
    if dato['prec'] == 'Ip':
        precipitaciones.append(None)
    else:
        precipitaciones.append(dato['prec'])
    Min_Temp.append(dato['tmin'])
    Mean_Temp.append(dato['tmed'])
    Max_Temp.append(dato['tmax'])
    try:
        Sol.append(dato['sol'])
    except:
        Sol.append(None)

In [20]:
temperaturas = pd.DataFrame()
temperaturas['Fechas'] = fechas
temperaturas['Precipitaciones'] = precipitaciones
temperaturas['Min_Temp'] = Min_Temp
temperaturas['Mean_Temp'] = Mean_Temp
temperaturas['Max_Temp'] = Max_Temp
temperaturas['Sol'] = Sol
print(temperaturas.shape)
temperaturas.head()

(0, 6)

Empty DataFrame
Columns: [Fechas, Precipitaciones, Min_Temp, Mean_Temp, Max_Temp, Sol]
Index: []

In [21]:
def coma2float(string):
    return float(string.replace(',','.')) if type(string) == str else string

In [22]:
sols = temperaturas['Sol'].tolist()
for idx, value in enumerate(sols):
    if value == None:
        sols[idx] = (coma2float(sols[idx-1]) + coma2float(sols[idx-1]))/2
temperaturas['Sol'] = sols

In [23]:
precs = temperaturas['Precipitaciones'].tolist()
for idx, value in enumerate(precs):
    if value == None:
        precs[idx] = (coma2float(precs[idx-1]) + coma2float(precs[idx-1]))/2
temperaturas['Precipitaciones'] = precs

In [24]:
temperaturas['Precipitaciones'] = temperaturas['Precipitaciones'].map(coma2float)
temperaturas['Min_Temp'] = temperaturas['Min_Temp'].map(coma2float)
temperaturas['Mean_Temp'] = temperaturas['Mean_Temp'].map(coma2float)
temperaturas['Max_Temp'] = temperaturas['Max_Temp'].map(coma2float)
temperaturas['Sol'] = temperaturas['Sol'].map(coma2float)

In [25]:
temperaturas.head()

Empty DataFrame
Columns: [Fechas, Precipitaciones, Min_Temp, Mean_Temp, Max_Temp, Sol]
Index: []

In [26]:
temperaturas.describe()

       Fechas
count     0.0
mean      NaN
std       NaN
min       NaN
25%       NaN
50%       NaN
75%       NaN
max       NaN

In [27]:
datos = pd.merge(df, temperaturas, left_on='DATE', right_on = 'Fechas')

In [28]:
datos.head()

Empty DataFrame
Columns: [ID, SAMPLETIME, READINGINTEGER, READINGTHOUSANDTH, DELTAINTEGER, DELTATHOUSANDTH, YEAR, MONTH, DAY, DATE, Fechas, Precipitaciones, Min_Temp, Mean_Temp, Max_Temp, Sol]
Index: []

In [ ]:
datos = datos.drop(['SAMPLETIME','Fechas'], axis =1)

In [ ]:
datos.columns

Index(['ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER',
       'DELTATHOUSANDTH', 'YEAR', 'MONTH', 'DAY', 'DATE', 'Precipitaciones',
       'Min_Temp', 'Mean_Temp', 'Max_Temp', 'Sol'],
      dtype='object')

In [ ]:
datos = datos.groupby(['DATE','ID']).agg({
    'READINGINTEGER':'sum',
    'READINGTHOUSANDTH':'sum', 
    'DELTAINTEGER':'sum',
    'DELTATHOUSANDTH':'sum',
    'YEAR':'mean',
    'MONTH':'mean',
    'DAY':'mean',
    'Precipitaciones':'mean',
    'Min_Temp':'mean',
    'Mean_Temp':'mean',
    'Max_Temp':'mean',
    'Sol':'mean'
})

In [ ]:
datos = datos.reset_index()
datos.head()

,DATE,ID,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,YEAR,MONTH,DAY,Precipitaciones,Min_Temp,Mean_Temp,Max_Temp,Sol
0,2019-02-01,0,7963359,0.0,243,0.0,2019.0,2.0,1.0,0.0,16.5,17.6,18.7,7.1
1,2019-02-01,1,139882,0.0,8,0.0,2019.0,2.0,1.0,0.0,16.5,17.6,18.7,7.1
2,2019-02-01,2,190824,0.0,0,0.0,2019.0,2.0,1.0,0.0,16.5,17.6,18.7,7.1
3,2019-02-01,3,3611828,0.0,492,0.0,2019.0,2.0,1.0,0.0,16.5,17.6,18.7,7.1
4,2019-02-01,4,2723035,0.0,247,56.0,2019.0,2.0,1.0,0.0,16.5,17.6,18.7,7.1

In [ ]:
def str2date2(string):
    return datetime.strptime(string, '%Y-%m-%d')

In [ ]:
datos['DATE'] = datos['DATE'].progress_apply(str2date2)

  0%|          | 0/890837 [00:00<?, ?it/s]

In [ ]:
def get_weekday(date):
    return date.weekday()

In [ ]:
datos['WEEKDAY'] = datos['DATE'].progress_apply(get_weekday)

  0%|          | 0/890837 [00:00<?, ?it/s]

In [ ]:
datos.columns

Index(['DATE', 'ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER',
       'DELTATHOUSANDTH', 'YEAR', 'MONTH', 'DAY', 'Precipitaciones',
       'Min_Temp', 'Mean_Temp', 'Max_Temp', 'Sol', 'WEEKDAY'],
      dtype='object')

In [ ]:
datos = datos.reindex(columns=['DATE','ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER',
       'DELTATHOUSANDTH', 'YEAR', 'MONTH', 'DAY', 'WEEKDAY', 'Min_Temp', 'Mean_Temp', 'Max_Temp', 'Sol', 'Precipitaciones'])

In [ ]:
def is_weekend(weekday):
    if weekday==6 or weekday==7:
        return 1
    else:
        return 0
    
def get_year_day(date):
    return date.timetuple().tm_yday

In [ ]:
datos['IS_WEEKEND'] = datos['WEEKDAY'].progress_apply(is_weekend)
datos['YEAR_DAY'] = datos['DATE'].progress_apply(get_year_day)

  0%|          | 0/890837 [00:00<?, ?it/s]

  0%|          | 0/890837 [00:00<?, ?it/s]

In [ ]:
days_in_a_week = 7
datos['sin_weekday'] = np.sin(2*np.pi*datos['WEEKDAY']/days_in_a_week)
datos['cos_weekday'] = np.cos(2*np.pi*datos['WEEKDAY']/days_in_a_week)

In [ ]:
#funciones para ver si un aÃ±o es bisiesto o cuantos dias tiene (no las uso luego)
def is_leap_year(year):
    if (year % 400 == 0) and (year % 100 == 0):
        return True
    elif (year % 4 ==0) and (year % 100 != 0):
        return True
    else:
        return False
    
def days_in_a_year(year):
    if is_leap_year(year):
        return 366
    else:
        return 365

In [ ]:
days_in_a_year = 365
datos['sin_year_day'] = np.sin(2*np.pi*datos['YEAR_DAY']/days_in_a_year)
datos['cos_year_day'] = np.cos(2*np.pi*datos['YEAR_DAY']/days_in_a_year)

#### Festividades Valencia 2019

Festivos Nacionales: 

- 1 Enero
- 19 Abril
- 1 Mayo
- 15 Agosto
- 12 Octubre
- 1 Noviembre
- 6 Diciembre
- 25 Diciembre

Festivos regionales:

- 19 Marzo
- 22 Abril
- 24 Junio
- 9 Octubre

Festivos locales (valencia):

- 22 Enero
- 29 Abril

#### Festividades Valencia 2020

Festivos Nacionales: 

- 1 Enero
- 6 Enero
- 10 Abril
- 1 Mayo
- 15 Agosto
- 15 Octubre
- 8 Diciembre
- 25 Diciembre

Festivos regionales:

- 19 Marzo
- 13 Abril
- 24 Junio
- 9 Octubre

Festivos locales (valencia):

- 22 Enero
- 20 Abril

In [ ]:
def es_festivo(date):
    festivos_nacionales_2019 = [str2date2(i) for i in ["2019-1-1","2019-4-19","2019-5-1","2019-8-15","2019-10-12",
                                                       "2019-11-1","2019-12-6","2019-12-25"]]
    festivos_regionales_2019 = [str2date2(i) for i in ["2019-3-19","2019-4-22","2019-6-24","2019-10-9"]]
    festivos_locales_2019 = [str2date2(i) for i in ["2019-1-22","2019-4-29"]]
    
    festivos_nacionales_2020 = [str2date2(i) for i in ["2020-1-1","2020-1-6","2020-4-10","2020-5-1","2020-8-15","2020-12-8",
                                           "2020-12-25"]]
    festivos_regionales_2020 = [str2date2(i) for i in ["2020-3-19","2020-4-13","2020-6-24","2020-10-9"]]
    festivos_locales_2020 = [str2date2(i) for i in ["2020-1-22","2020-4-20"]]
    
    if date.year == 2019:
        if date in festivos_nacionales_2019 or date in festivos_regionales_2019:
            return 1
        else:
            return 0
    elif date.year == 2020:
        if date in festivos_nacionales_2020 or date in festivos_regionales_2020:
            return 1
        else:
            return 0

In [ ]:
datos['IS_PUBLIC_HOLIDAY'] = datos['DATE'].progress_apply(es_festivo)

  0%|          | 0/890837 [00:00<?, ?it/s]

In [ ]:
datos.columns

Index(['DATE', 'ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER',
       'DELTATHOUSANDTH', 'YEAR', 'MONTH', 'DAY', 'WEEKDAY', 'Min_Temp',
       'Mean_Temp', 'Max_Temp', 'Sol', 'Precipitaciones', 'IS_WEEKEND',
       'YEAR_DAY', 'sin_weekday', 'cos_weekday', 'sin_year_day',
       'cos_year_day', 'IS_PUBLIC_HOLIDAY'],
      dtype='object')

In [ ]:
datos = datos.reindex(columns=['DATE','ID', 'READINGINTEGER', 'READINGTHOUSANDTH', 'DELTAINTEGER', 'DELTATHOUSANDTH', 
                               'YEAR', 'MONTH', 'DAY', 'WEEKDAY', 'IS_WEEKEND', 'IS_PUBLIC_HOLIDAY', 'YEAR_DAY', 'sin_weekday', 
                               'cos_weekday', 'sin_year_day', 'cos_year_day',  
                               'Min_Temp', 'Mean_Temp', 'Max_Temp', 'Sol', 'Precipitaciones'])

In [ ]:
rename_dict = {
    'WEEKDAY':'WEEK_DAY',
    'sin_weekday':'sin_WEEK_DAY',
    'cos_weekday':'cos_WEEK_DAY',
    'sin_year_day':'sin_YEAR_DAY',
    'cos_year_day':'cos_YEAR_DAY',
    'Min_Temp':'MIN_TEMP',
    'Mean_Temp':'MEAN_TEMP',
    'Max_Temp':'MAX_TEMP',
    'Sol':'SUN',
    'Precipitaciones':'PRECIPITATIONS'
}
datos = datos.rename(rename_dict, axis='columns')

In [ ]:
datos.head()

,DATE,ID,READINGINTEGER,READINGTHOUSANDTH,DELTAINTEGER,DELTATHOUSANDTH,YEAR,MONTH,DAY,WEEK_DAY,...,YEAR_DAY,sin_WEEK_DAY,cos_WEEK_DAY,sin_YEAR_DAY,cos_YEAR_DAY,MIN_TEMP,MEAN_TEMP,MAX_TEMP,SUN,PRECIPITATIONS
0,2019-02-01,0,7963359,0.0,243,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
1,2019-02-01,1,139882,0.0,8,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
2,2019-02-01,2,190824,0.0,0,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
3,2019-02-01,3,3611828,0.0,492,0.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0
4,2019-02-01,4,2723035,0.0,247,56.0,2019.0,2.0,1.0,4,...,32,-0.433884,-0.900969,0.523416,0.852078,16.5,17.6,18.7,7.1,0.0

In [ ]:
datos.to_csv('../data/enriquecidos-003.csv')